.container-00 {
  &.container-08 {
    background-image: url('../../images/car/sf23-01.jpg');
  }

  &.container-09 {
    background-image: url('../../images/car/sf23-02.jpg');
  }

  &.container-10 {
    background-image: url('../../images/car/sf23-03.jpg');
  }
  
  &.container-11 {
    background-image: url('../../images/car/sf23-04.webp');
  }

  &.container-12 {
    background-image: url('../../images/car/sf23-05.jpg');
  }
}