.container-00 {
  &.container-08 {
    background-image: url('../../images/car/sf23-01.jpg');
  }

  &.container-09 {
    background-image: url('../../images/car/sf23-02.jpg');
  }

  &.container-10 {
    background-image: url('../../images/car/sf23-03.jpg');
  }
  
  &.container-11 {
    background-image: url('../../images/car/sf23-04.webp');
  }

  &.container-12 {
    background-image: url('../../images/car/sf23-05.jpg');
  }
}

.container-08-content {
  height: 90vh;

  .title-car {
    font-family: "Haulage Commercial W00 Bold It";
    font-size: 100px;
  }

  .subtitle-car {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 300;
  }
}

.car-desc {
  height: 25vh;

  .text-car-desc {
    color: $table-item;
    font-weight: 400;
    font-size: 20px;
  }
}

.container-right-content {
  margin-left: 55%;
  padding-top: 15%;
  max-width: 600px;
}

.title-section {
  font-size: 50px;
  font-weight: bold;
}

.container-left-content {
  margin-left: 5%;
  padding-top: 15%;
  max-width: 700px;
}