.container-00 {
  &.container-08 {
    background-image: url('../../images/car/sf23-01.jpg');
  }

  &.container-09 {
    background-image: url('../../images/car/sf23-02.jpg');
  }

  &.container-10 {
    background-image: url('../../images/car/sf23-03.jpg');
  }

  &.container-11 {
    background-image: url('../../images/car/sf23-04.webp');
  }

  &.container-12 {
    background-image: url('../../images/car/sf23-05.jpg');
  }
}

.container-08-content {
  height: 90vh;

  .title-car {
    font-family: "Haulage Commercial W00 Bold It";
    font-size: 50px;
  }

  .subtitle-car {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 300;
  }
}

.car-desc {
  height: 25vh;

  .text-car-desc {
    color: $table-item;
    font-weight: 400;
    font-size: 16px;
  }
}

.container-right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-text {
  font-size: 10px;
}

.title-section {
  font-size: 20px;
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
}

// Media Query

@media screen and (min-width: 400px) {
  .table-text {
    font-size: 12px;
  }

  .title-section {
    font-size: 30px;
  }

  .container-08-content {
    .title-car {
      font-size: 60px;
    }

    .subtitle-car {
      font-size: 18px;
    }
  }
}

@media screen and (min-width: 576px) {
  .container-08-content {
    .title-car {
      font-size: 70px;
    }

    .subtitle-car {
      font-size: 20px;
    }
  }

  .car-desc {
    .text-car-desc {
      font-size: 20px;
    }
  }

  .grid-right {
    display: grid;
    align-items: center;
    justify-content: right;
  }

  .title-section {
    font-size: 40px;
  }

  .subtitle {
    font-size: 16px;
    max-width: 600px;
  }

  .table-text {
    font-size: 14px;
    max-width: 600px;
  }
}

@media screen and (min-width: 992px) {
  .container-08-content {
    .title-car {
      font-size: 100px;
    }

    .subtitle-car {
      font-size: 30px;
    }
  }

  .car-desc {
    .text-car-desc {
      font-size: 22px;
    }
  }

  .title-section {
    font-size: 50px;
  }

  .table-text {
    font-size: initial;
  }

  .container-left-content,
  .container-right-content {
    padding-bottom: 15%;
  }
}