.container-00 {
  &.container-01 {
    background-image: url('../../images/home/hq-01.jpg');
  }
  &.container-02 {
    background-image: url('../../images/home/drivers-02.jpg');
  }
  &.container-03 {
    background-image: url('../../images/home/car-03.webp');
  }
  &.container-04 {
    background-image: url('../../images/home/museum-04.jpg');
  }
}