.container-00 {
  &.container-01 {
    background-image: url('../../images/home/hq-01.jpg');
  }

  &.container-02 {
    background-image: url('../../images/home/drivers-02.jpg');
  }

  &.container-03 {
    background-image: url('../../images/home/car-03.webp');
  }

  &.container-04 {
    background-image: url('../../images/home/museum-04.jpg');
  }
}

.title-padding {
  padding-top: 300px;
}

.short-title {
  width: 550px;
}

.medium-title {
  width: 650px;
  margin-bottom: 10px;
}

// Media Query

@media screen and (max-width: 375px) {
  .small-align-text {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .short-title {
    font-size: 16px;
  }

  .medium-title {
    font-size: 24px;
  }
}

@media screen and (max-width: 770px) {
  .title-padding {
    padding-top: 200px;
  }

  .short-title,
  .medium-title {
    width: auto;
  }

  .container-00 {
    &.container-01 {
      background-image: url('../../images/home/hq-01-small.jpg');
    }
    &.container-03 {
      background-image: url('../../images/home/car-03-small.jpg');
    }
  }
}