.container-00 {
  &.container-05 {
    background-image: url('.././images/team/ferrari-01.avif');
  }
  &.container-06 {
    background-image: url('.././images/team/enzo-ferari.jpg');
  }

  &.carousel-01 {
    background-image: url('.././images/team/charles-leclerc.webp');
  }

  &.carousel-02 {
    background-image: url('.././images/team/carlos-sainz.webp');
  }

  &.container-07 {
    background-image: url('.././images/team/vasseur.jpg');
  }

  &.carousel-03 {
    background-image: url('.././images/team/alberto-ascari.jpg');
  }

  &.carousel-04 {
    background-image: url('.././images/team/fangio.jpg');
  }

  &.carousel-05 {
    background-image: url('.././images/team/mike-hawthorn.jpeg');
  }

  &.carousel-06 {
    background-image: url('.././images/team/phil-hill.webp');
  }

  &.carousel-07 {
    background-image: url('.././images/team/john-surtees.jpg');
  }

  &.carousel-08 {
    background-image: url('.././images/team/lauda.jpg');
  }

  &.carousel-09 {
    background-image: url('.././images/team/jody-scheckter.avif');
  }

  &.carousel-10 {
    background-image: url('../../images/team/schumacher.jpg');
  }

  &.carousel-11 {
    background-image: url('../../images/team/kimi-raikkonen.jpg');
  }

}

.title-ferrari {
  font-size: 80px;
  font-family: "Uniwars W00 Regular", sans-serif;
  font-style: italic;
  font-weight: bold;
}

.title-content {
  height: 100vh;
}

.numbers {
  height: 40vh;

  .title-numb {
    font-size: 90px;
  }

  .subtitle-numb {
    font-size: 20px;
  }
}

.ferrari-desc {
  font-size: 22px;
  width: 640px;
  line-height: 40px;
}

.container-ferrari-desc {
  display: grid;
  height: 90vh;
  align-items: center;
  justify-content: right;
}

.team-historic {
  width: 500px;
  margin-left: 13%;
  padding-top: 15%;
}

.carousel-slide {
  img {
    height: 100vh;
  }
}

// Media Query

@media screen and (max-width: 840px) {
  .title-ferrari {
    font-size: 60px;
  }

  .numbers {  
    .title-numb {
      font-size: 80px;
    }
  
    .subtitle-numb {
      font-size: 18px;
    }
  }

  .ferrari-desc {
    width: auto;
  }

  .team-historic {
    padding-top: 35%;
  }
}

@media screen and (max-width: 575px) {
  .numbers {
    height: 60vh;
  }

  .ferrari-desc {
    line-height: auto;
  }
}

@media screen and (max-width: 585px) {
  .title-ferrari {
    font-size: 45px;
  }
  .team-historic {
    width: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 375px) {
  .title-ferrari {
    font-size: 34px;
  }

  .subtitle-ferrari {
    font-size: 16px;
  }

  .ferrari-desc {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .small-text {
    font-size: 14px;
  }
}