* {
  color: #FFF;
}

div {
  scroll-margin-top: 5rem;
}

#loading {
  background-color: #000;
  height: 100vh; 

  img {
    margin-top: 40vh;
    width: 50px;
  }
}

.background {
  background-color: rgb(0, 0, 0, 0.8);
  height: 100vh;
  width: 100%;
}

.header {
  font-size: 12px;
  font-weight: bold;
  
  #nav-item-1, 
  #nav-item-2 {
    &:hover {
      color: $link-hover;
    }
  }
}

.container-00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-down {
  display: inline-block;
  width: 90px;
}

.ferrari-logo {
  width: 200px;
}

.know-more {
  padding: $padding-button;
  border: 2px solid #FFF;
}

.footer {
  background-color: #000;
  height: 15vh;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: #FFF;

    &:hover {
      color: $link-hover;
    }
  }

  .copy {
    color: $copy-color;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #7c0400;
  border-radius: 10px;
}

// Media Query

@media screen and (max-width: 425px) {
  .ferrari-logo {
    width: 120px;
  }

  .footer {
    font-size: 10px;
  }
}

@media screen and (max-width: 575px) {
  .ferrari-logo,
  .nav-link {
    padding-left: 15px;
  }
}

@media screen and (min-width: 425px) and (max-width: 992px) {
  #nav-item-1 {
    padding-top: 15px;
  }
}