* {
  color: white;
}

.header {
  font-size: 12px;
  font-weight: bold;
  
  #nav-item-1, #nav-item-2 {
    &:hover {
      color: $link-hover;
    }
  }
}

.container-00 {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-down {
  display: inline-block;
  width: 90px;
}

.logo-pc {
  width: 200px;
}

.text-shadow {
  text-shadow: 
  1px 1px 2px #000,
  0 0 1em #E10600,
  0 0 0.2em #E10600;
}

.know-more {
  padding: $padding-button;
}

.footer {
  background-color: #000;
  height: 15vh;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: $link-hover;
    }
  }

  .copy {
    color: $copy-color;
  }
}

// Media Query

@media screen and (max-width: 425px) {
  .logo-pc {
    width: 120px;
  }

  .footer {
    font-size: 10px;
  }
}